__pycache__/
.DS_Store
.ipynb_checkpoints
unused/
pre-evotuning/inputs/
pre-evotuning/outputs/
seq_mutator/inputs/
seq_mutator/outputs/
top-model/inputs/
top-model/outputs/
directed-evo/inputs/
directed-evo/outputs/
analysis/inputs/
analysis/outputs/
Pipfile
Pipfile.lock
data/results/report/blast_890.fasta_program-blastp_db-nr_hitnum-5000.xml
data/results/report/blast_890.fasta_program-tblastn_db-nt_hitnum-20000.xml
download_interpro.py
old_notebook/Low-N_engineering_direct_evolution.ipynb
old_notebook/Low-N_engineering_direct_evolution_colab.ipynb
old_notebook/Low-N_engineering_local.ipynb
old_notebook/Low_N_engineering_test_2.ipynb
